<div class="mx-auto">
  <h1 class="text-2xl font-bold mb-4">RubyTap</h1>

  <div>
    <p class="mb-4">Rubyメソッドも学べるタイピングゲーム！</p>
    <p class="mb-4">60秒間でできるだけ多くのRubyメソッドを正確にタイピングしましょう！</p>
  </div>

  <div>
    <%= link_to "ゲームを始める", new_game_path, class: "font-bold underline" %>
  </div>
</div>
