<div class="mx-auto" data-controller="game-starter">
  <%= form_with url: games_path, method: :post, data: { game_starter_target: "form" } do |f| %>
    <p class="text-2xl font-bold">spaceかEnterを押してスタート！</p>
  <% end %>
</div>
