<div>
  <span id="timer"><%= @game.remaining_time %></span>秒
</div>
<div>
  <div class="font-bold">Array#each</div>
</div>
<div>
  <input type="text" placeholder="ここにタイピング">
</div>
<div class="flex">
  <div>
    正解: <span id="correct-count"><%= @game.correct_count %></span>
  </div>
  <div>
    ミス: <span id="wrong-count"><%= @game.wrong_count %></span>
  </div>
  <div>
    スコア: <span id="score"><%= @game.score %></span>
  </div>
</div>
